<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>計算機</title>
</head>

<body>
	<h1>計算機</h1>
	<form th:action="@{/calculator}" method="post" style="margin-bottom: 60px;">
		<input type="number" name="from" required>
		<select name="operation">
			<option value="add">+</option>
			<option value="subtract">-</option>
			<option value="multiply">×</option>
			<option value="divide">÷</option>
		</select>
		<input type="number" name="to"required>
		<button type="submit">=</button>
	</form>
	<p th:text="${result}" style="font-weight: 700;"></p><br>
</body>

</html>